name: Scan Dependencies

on:
  push:
    branches: [ "master" ]

jobs:
    dependency-submission:

      runs-on: ubuntu-latest
      permissions:
        contents: write

      steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 22
        uses: actions/setup-java@v5
        with:
          java-version: '22'
          distribution: 'temurin'

      # Generates and submits a dependency graph, enabling Dependabot Alerts for all project dependencies.
      # See: https://github.com/gradle/actions/blob/main/dependency-submission/README.md
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@0723195856401067f7a2779048b490ace7a47d7c # v5.0.2
